@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    ::before,
    ::after {
        @apply dark:border-zinc-700;
    }

    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-4xl font-semibold;
    }
    h3 {
        @apply text-2xl font-medium;
    }
    h5 {
        @apply font-semibold;
    }

    :root {
        --radius: 0.5rem;
    }
    section {
        @apply mx-auto w-[80%] max-w-7xl;
    }
}

@layer components {
    .text-selected {
        @apply text-primary dark:text-primary-dark;
    }

    .main-hover {
        @apply hover:bg-primary/10 dark:hover:bg-primary-dark/20;
    }

    .sidebar-button {
        @apply main-hover flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg transition duration-200 ease-out;
    }

    .gradient-bg {
        @apply from-[#f7ebc0] via-[#99f5d1] to-[#93c5fd];
    }

    .gold-gradient {
        @apply bg-gradient-to-tr from-[#f4e1b2]/80 via-[#f2ca73]/80 to-[#f9d97c]/80;
    }
}
