@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-3xl font-bold;
    }
    h3 {
        @apply text-xl font-bold;
    }
    i {
        @apply leading-none;
    }
}

@layer components {
    .button-primary {
        @apply flex items-center justify-center rounded-full border border-primary bg-primary px-4 py-2 text-secondary transition duration-200 hover:scale-105 hover:shadow-md active:scale-90 dark:border-primary-dark dark:bg-primary-dark dark:text-secondary-dark;
    }

    .button-primary-alt {
        @apply flex items-center justify-center rounded-full border border-secondary bg-secondary px-4 py-2 text-primary transition duration-200 hover:scale-105 hover:shadow-md active:scale-90 dark:border-secondary-dark dark:bg-secondary-dark dark:text-primary-dark;
    }

    .button-secondary {
        @apply flex items-center justify-center rounded-full border border-primary bg-transparent px-4 py-2 text-primary transition duration-500 hover:bg-primary hover:text-secondary dark:border-primary-dark dark:text-primary-dark dark:hover:bg-primary-dark dark:hover:text-secondary-dark;
    }

    .button-secondary-alt {
        @apply border-ct-blue hover:bg-ct-blue dark:border-ct-bg-dark dark:text-ct-bg-dark dark:hover:bg-ct-bg-dark dark:hover:text-ct-yellow flex items-center justify-center rounded-full border bg-transparent px-4 py-2  transition duration-500 hover:text-white;
    }

    .button-highlight {
        @apply flex h-7 w-32 items-center justify-center rounded bg-gradient-to-r from-[#fd5392] to-[#f86f64] text-[0.75rem] font-medium text-white;
    }

    .input-auth {
        @apply bg-blue h-10 w-64 border-b border-white px-2 text-white placeholder:text-white placeholder:opacity-80 focus:outline-none;
    }

    .text-selected {
        @apply text-primary dark:text-primary-dark;
    }

    .ct-card {
        @apply dark:bg-ct-bg-dark rounded border bg-white p-1;
    }
    .main-hover {
        @apply transition duration-200 hover:bg-primary/20 dark:hover:bg-primary-dark/20;
    }

    .sidebar-button {
        @apply main-hover flex h-10 w-10 cursor-pointer items-center justify-center space-x-1.5 rounded-full px-2 text-xl font-light transition duration-200 ease-out;
    }

    .basic-button {
        @apply main-hover flex h-8 w-auto items-center justify-start space-x-1.5 rounded-lg px-2 text-sm font-light transition duration-200 ease-out;
    }

    .cta-button {
        @apply flex h-10 items-center justify-center space-x-2 rounded-full border-none bg-primary px-2 text-sm text-white transition duration-200 ease-out hover:bg-primary-hover dark:bg-primary-dark dark:text-secondary-dark dark:hover:bg-primary-dark-hover;
    }

    .input-field {
        @apply text-selected bg-transparent outline-none transition duration-200 placeholder:normal-case placeholder:text-gray-600 focus:text-primary dark:placeholder:text-[#a39e93] dark:focus:text-primary-dark;
    }

    .read-input {
        @apply cursor-default select-none caret-transparent outline-none;
    }
}
