* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Sans-Serif;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

i {
    line-height: 0;
}

/* h1 {
    font-family: 'Cal Sans';
} */

.will-change-transform {
    will-change: transform, opacity;
}

input:-webkit-autofill {
    background-color: white !important; /* Override autofill background */
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Ensure full override */
}
input.picker[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 1;
    right: 1;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    padding: 0;
    color: transparent;
    background: transparent;
}

input.picker[type='time']::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

@keyframes banner {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

.text-shadow {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.btn,
.btn2 {
    width: 140px;
    height: 42px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 1000px;
    background: white;
}

.btn2 {
    background: linear-gradient(-45deg, #f4e1b2, #f2ca73, #f9d97c);
    background-size: 600%;
    animation: anime 12s linear infinite;
    width: 150px;
    height: 18px;
    position: absolute;
    z-index: -1;
    filter: blur(30px);
    opacity: 1;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.stars-container {
    overflow: hidden;
}

.stars-container,
.stars-container .stars {
    width: 100%;
    height: 50%;
    position: absolute;
}

.stars-container .stars {
    filter: brightness(2);
    z-index: -3;
}

.stars-container .stars:nth-child(1) {
    background-image: radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#e8d3d3 2px, transparent 2px);
    background-color: transparent;
    background-position:
        0 0,
        200px 150px,
        50px 300px,
        150px 100px,
        250px 80px,
        300px 200px,
        300px 320px,
        350px 390px;
    background-size: 400px 400px;
    animation: twinkle 5s linear 0s infinite;
    left: -10%;
    top: -10%;
}

.stars-container .stars:nth-child(2) {
    background-image: radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#e8d3d3 2px, transparent 2px);
    background-color: transparent;
    background-position:
        0 0,
        200px 150px,
        50px 300px,
        150px 100px,
        250px 80px,
        300px 200px,
        300px 320px,
        350px 390px;
    background-size: 400px 400px;
    animation: twinkle 3s linear 0s infinite;
    left: 0;
    top: 0;
}

.stars-container .stars:nth-child(3) {
    background-image: radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#e8d3d3 2px, transparent 2px);
    background-color: transparent;
    background-position:
        0 0,
        200px 150px,
        50px 300px,
        150px 100px,
        250px 80px,
        300px 200px,
        300px 320px,
        350px 390px;
    background-size: 400px 400px;
    animation: twinkle 10s linear 0s infinite;
    left: 10%;
    top: 10%;
    opacity: 0;
}

.stars-container .stars:nth-child(4) {
    background-image: radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#fff 2px, transparent 2px), radial-gradient(#fff 1px, transparent 1px), radial-gradient(#e8d3d3 2px, transparent 2px);
    background-color: transparent;
    background-position:
        0 0,
        200px 150px,
        50px 300px,
        150px 100px,
        250px 80px,
        300px 200px,
        300px 320px,
        350px 390px;
    background-size: 400px 400px;
    animation: twinkle 7s linear 0s infinite;
    left: 20%;
    top: 20%;
    opacity: 0;
}

@keyframes twinkle {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
